*{
    margin:0;
}
body{
    background-color: burlywood;
}
#container-padre{
    width: 20%;
    height: 20%;
    display:flex;
    flex-wrap: wrap;
    margin-left: 32%;
    position: relative;
}

#container-padre div{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    font-size: 3rem;
    cursor: pointer;
}
#btnjuegoNuevo{
    width: 100%;
    font-size: 2rem;
    margin-left: 30px;
    border-radius: 10px;
}

#btnjuegoNuevo:hover{
    background-color: green;
}


.ganador{
    background-color: rgb(59, 205, 59);
}


.container-resultado{
    font-size: 2rem;
    display: flex;
}

#p{
    margin-left:40%;
}



#p3{
    font-size:2rem;
}
#p2{
    margin-top: 0%;
    font-size:8rem;
}
#container-ganador{
    width: 20%;
    position: relative;
}
.slider{
    animation-name: movimiento;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.slider2{
    animation-name: movimiento2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes movimiento{
    0%{right: 0%;}
    100%{right: 10%;}
}
@keyframes movimiento2{
    0%{left: 0%;}
    100%{left: 12%;}
}
@keyframes movimiento3{
    0%{right: 10%;}
    100%{right: 0%;}
}
@keyframes movimiento4{
    0%{left: 12%;}
    100%{left: 0%;}
}
.movimiento{
    animation-name: movimiento3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.movimiento2{
    animation-name: movimiento4;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#container{
    text-align: center;
    display: flex;
    width: 100%;
}

.disable{
    pointer-events: none;
}

.container-hijastro{
    width: 40%;
    margin: auto;
    padding: 10px;
}
#turno{
    font-size:2rem;
    margin-left:25%;
}

.color{
    background-color:rgb(255, 145, 0);
}

.colorGanador{
    background-color:rgb(22, 212, 88);
}

.container-titulo{
    width: 40%;
    margin: auto;
    padding: 10px;
}
h1{
    margin-left: 25%;
    font-size:4rem;
}
.container_x_y_o{
    margin-left: 40%;
    width: 30%;
}
input{
    border: none;
    text-align: center;
}

.turno{
   border: 1px solid rgb(98, 242, 98);
   background-color: rgb(98, 242, 98);
}

@media (max-width:390px){
    body{
        background-color: burlywood;
    }
    h1{
        font-size: 2rem;
    }
    #container-padre div{
        border: 1px solid black;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        text-align:center;
        cursor: pointer;
    }
    #container-padre{
        width: 42%;
        height: 50%;
        display:flex;
        flex-wrap: wrap;
        position: relative;
        margin-left: 30px;
    }
    #container-ganador{
        width: 50%;
        text-align: center;
        position: relative;
    }
    #p3{
        font-size:1rem;
    }
    #p2{
        margin-top: 0%;
        font-size:5rem;
    }
    .container-hijastro{
        width: 100%;
        margin-right: 10%;
    }
    #btnjuegoNuevo{
        width: 100%;
        font-size: 1rem;
        border-radius: 10px;
        margin:auto;
    }
    .container-titulo{
        display: none;
    }
    .container_x_y_o{
        width: 100%;
        margin-left: 10px;
    }

    #container{
        display: flex;
        width: 100%;
     
    }
    #turno{
        font-size: 2rem;
        margin-left: 33%;
   }
   @keyframes movimiento{
    0%{right: 0%;}
    100%{right: 24%;}
    }
    @keyframes movimiento2{
        0%{left: 0%;}
        100%{left: 24%;}
    }
    @keyframes movimiento3{
        0%{right: 24%;}
        100%{right: 0%;}
    }
    @keyframes movimiento4{
        0%{left: 24%;}
        100%{left: 0%;}
    }
}


@media (max-width:414px){
    body{
        background-color: burlywood;
    }
    h1{
        font-size: 2rem;
    }
    #container-padre div{
        border: 1px solid black;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        text-align:center;
        cursor: pointer;
    }
    #container-padre{
        width: 42%;
        height: 50%;
        display:flex;
        flex-wrap: wrap;
        position: relative;
        margin-left: 30px;
    }
    #container-ganador{
        width: 50%;
        text-align: center;
        position: relative;
    }
    #p3{
        font-size:1rem;
    }
    #p2{
        margin-top: 0%;
        font-size:5rem;
    }
    .container-hijastro{
        width: 100%;
        margin-right: 10%;
    }
    #btnjuegoNuevo{
        width: 100%;
        font-size: 1rem;
        border-radius: 10px;
        margin:auto;
    }
    .container-titulo{
        display: none;
    }
    .container_x_y_o{
        width: 100%;
        margin-left: 10px;
    }

    #container{
        display: flex;
        width: 100%;
     
    }
    #turno{
        font-size: 2rem;
        margin-left: 33%;
   }
   @keyframes movimiento{
    0%{right: 0%;}
    100%{right: 24%;}
    }
    @keyframes movimiento2{
        0%{left: 0%;}
        100%{left: 24%;}
    }
    @keyframes movimiento3{
        0%{right: 24%;}
        100%{right: 0%;}
    }
    @keyframes movimiento4{
        0%{left: 24%;}
        100%{left: 0%;}
    }
}

